<% content_for :head do %>
  <title>Hotels</title>
<% end %>
<% content_for :pagename do %>
  <%= @hotel.name %> <%= @hotel.location %>
<% end %>
<h1><%= @comment.commenter %></h1>
    <div class="field">
    <%= @comment.body %>
  </div>
  <br/>
  <br/><br/><br/><br/>
  <ul class="pager">
      <li>
        <%= link_to "back" ,@hotel %>
      </li>
  </ul>
