<%= form_for @user, :url => { :action => "create" } do |f| %>
  <ul class="alert-message block-message error">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <div class="clearfix">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :email %>
    <div class="input">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :location %>
    <div class="input">
      <%= f.text_field :location%>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :password %>
    <div class="input">
      <%= f.password_field :password%>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :password_confirmation %>
    <div class="input">
      <%= f.password_field :password_confirmation%>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class=>"btn primary" %>
  </div>

<% end %>
