<h1>new</h1>
<%= form_for([@hotel, @hotel.fooditems.build]) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name %>
    </div>
  </div>
  <br/><br/>
  <div class="field">
    <%= f.label :price %>
      <div class="input">
    <%= f.text_field :price %>
      </div>
  </div>
  <br/><br/>
  <div class="field">
    <%= f.label :category %>
    <div class="input">
    <%= f.text_field :category %>
    </div>
  </div>
  <br/><br/>
  <div class="field">
    <%= f.label :description %>
    <div class="input">
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit "Create Food Item", :class=>"btn primary" %>
  </div>
  <ul class="pager">
      <li>
        <%= link_to "back" ,@hotel %>
      </li>
  </ul>
<% end %>
