<% content_for :head do %>
  <title>Hotels</title>
<% end %>
<% content_for :pagename do %>
  <%= @hotel.name %> <%= @hotel.location %>
<% end %>
<h1><%= @fooditem.name %></h1>
  <%= image_tag @fooditem.photo.url(:small) %>
  <table>
    <tr>
      <td>
        <span class="label label-info">
          <%= "Price" %>
        </span>
      </td>
      <td>
         <%= @fooditem.price%>
      </td>
    </tr>

    <tr>
      <td>
        <span class="label label-info">
          <%= "Category" %>
        </spam>
      </td>
      <td>
    <%= @fooditem.category %>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label label-info">
           <%= "Description" %>
        </span>
      </td>
      <td>
    <%= @fooditem.description %>
      </td>
    </tr>
  </table>
  <ul class="pager">
      <li>
        <%= link_to "back" ,@hotel %>
      </li>
    </ul>
