<%= form_for @hotel, :url => { :controller => "hotels", :action => "create" } do |f| %>

    <% if @hotel.errors.full_messages[0] %>
    <ul class="alert-message block-message error">
      <% @hotel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>

  <% else %>
  <% end %>

  <div class="clearfix">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :location %>
    <div class="input">
      <%= f.text_field :location%>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class=>"btn primary" %>
  </div>

<% end %>
