<% content_for :head do %>
  <title>Hotels</title>
<% end %>
<% content_for :pagename do %>
  <%= @hotel.name %> <%= @hotel.location %>
<% end %>
<h1> Items Availiable </h1>

<table>
    <%= render :partial=>'listing1', :collection => @hotel.fooditems, :as => 'fooditem', :locals => {:hotel => @hotel}%>
</table>

<%= link_to "Add new item" ,new_hotel_fooditem_path(@hotel)%>

<h1> Comments </h1>
<table>
    <%= render :partial=>'listing2', :collection => @hotel.comments, :as => 'comment', :locals => {:hotel => @hotel}%>
</table>

<%= link_to "Add a Comment" ,new_hotel_comment_path(@hotel)%>
